<%- include("templates/encabezado") %>
<h1>Productos</h1>
<h1>Nombre: <%= nombre %></h1>
<h1>Cantidad: <%= cantidad %></h1>
<h1>Precio: <%= precio %></h1>
<h1>Descripcion: <%= descripcion %></h1>
<%- include("templates/pie") %>